.search-bar {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.input-group {
  margin: 20px 0;
  width: 50%;
}

.input-group-text, .favorite-span {
  cursor: pointer;
}